{% extends "v0_app/base.html" %}

{% block content %}
    <h3 align="center">Учебный проект "сайт рецептов"</h3>
    <h4>Данный сайт представляет собой итоговую работу по специальности "Веб-разработка на Python.
        Он будет постепенно наполняться</h4>
    <p><i>Версия 0</i></p>
    <ul>
        <li>Создано главное меню сайта, оно отображается на всех страницах</li>
        <li>Созданы страницы для входа и регистрации. В меню есть динамическая ссылка.
            Если пользователь зарегистрирован - последний пункт меню "Выход". Если нет - "Авторизация".
            Ссылка на регистрацию размещена на странице авторизации</li>
        <li>На главной странице отображается приветствие пользователя если он авторизован.
            Также отображаются последние добавленные рецепты</li>
        <li>Создана страница добавления рецепта. Данная функция доступна только авторизованным пользователям.
            Если пользователь не авторизован - он перенаправляется на страницу авторизации.
            Если авторизован - появляется форма для создания рецепта.</li>
        <li></li>
    </ul>
{% endblock %}






